# PostgreSQL
DATABASE_URL=postgresql://admin:password123@postgres:5432/oncocollab
REDIS_URL=redis://redis:6379

API_PORT=3000
API_URL=http://localhost:3000

#faire du tunneling avec ngrok si vous arrivez pas à relier via réseau les autres users
WEBSOCKET_PORT=4000
WEBSOCKET_URL=http://localhost:4000

# Frontend
VITE_API_URL=http://localhost:3000
VITE_WS_URL=http://localhost:4000
VITE_ROOM_ID=123

# acces au serveur TURN pour le front
VITE_STUN_URL=stun:stun.l.google.com:19302
VITE_TURN_URL=turn:server_ip_docker:3478
VITE_TURN_USERNAME=username
VITE_TURN_PASSWORD=password

# pour le serveur TURN
EXTERNAL_IP=127.0.0.1

# Generation de rapport (laisser vide pour auto-detection via hostname)
REPORT_API_URL=
GEMINI_API_KEY=

NODE_ENV=production
